<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Template</title>
  <style>
    /* Estilos */
    body,
    html {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      border: 1px solid #ccc;
      background-color: #e1f5fe;
      border-radius: 5px;
    }

    h1 {
      color: #01579B;
    }

    p {
      margin-bottom: 15px;
    }

    a.button {
      padding: 10px 20px;
      background-color: #01579B;
      color: white;
      border: none;
      border-radius: 10px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>

<div class="container">
  <h1>Hello <%= usr_name %>!</h1>
  <p>
    <%= ivitator_name %> has invited you to this event:
  </p>
  <p>
    <%= evnt_name %>
  </p>
  <img src="<%= evt_image %>" alt="Event Image">
  <p>We hope to have you with us. Please click the button below to subscribe to the event:</p>
  <a href="https://split-meet.com:4433/login/invitation?evt_url=<%= evt_url %>" class="button">Subscribe</a>
  <p>Thank you!</p>
  <p>Best regards,<br> SplitMeet Team</p>

</div>

</html>