<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Invitation</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }

    .container {
      max-width: 600px;
      margin: 20px auto;
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1, p {
      color: #01579B;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-top: 10px;
      border-radius: 10px;
    }

    button {
      padding: 10px 20px;
      background-color: #01579B;
      color: white;
      border: none;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 20px 0;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <h1>Hello <%= usr_name %>!</h1>
  <p>
    <%= ivitator_name %> has invited you to this event:
  </p>
  <p>
    <%= evnt_name %>
  </p>
  <img src="<%= evnt_image %>" alt="Event Image">
  <p>We hope to have you with us. Please click the button below to subscribe to the event:</p>
  <a href="https://split-meet.com/login/invitation?evt_url=<%= evt_url %>"
    style="padding: 10px 20px; background-color: #01579B; color: white; border: none; border-radius: 10px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
    Subscribe
  </a>
  <p>Thank you!</p>
</body>

</html>